@page "/"
@inject HttpClient Http

<PageTitle>Leaderboard</PageTitle>

<h1>Scores</h1>

@if (scores == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Duration</th>
            <th>Score</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var score in scores)
        {
            <tr>
                <td>@score.Name</td>
                @* TODO: mask email? *@
                <td>@score.Email</td>
                <td>@score.Duration</td>
                <td>@score.Score</td>
                <td>@score.Timestamp</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ScoreEntry[]? scores;

    protected override async Task OnInitializedAsync()
    {
        // TODO: URL needs to come from config
        scores = await Http.GetFromJsonAsync<ScoreEntry[]>("http://localhost:5203/score");
    }

    ISpan? _pageLoad;
    protected override void OnInitialized()
    {
        SentrySdk.ConfigureScope(s => _pageLoad = s.Transaction = SentrySdk.StartTransaction("Score", "page.load"));
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _pageLoad?.Finish();
        _pageLoad = null;
    }

}
