@page "/weather"
@inject HttpClient Http

<PageTitle>Leaderboard</PageTitle>

<h1>Scores</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (scores == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Duration</th>
            <th>Score</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var score in scores)
        {
            <tr>
                <td>@score.Name</td>
                @* TODO: mask email? *@
                <td>@score.Email</td>
                <td>@score.Duration</td>
                <td>@score.Score</td>
                <td>@score.Timestamp</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ScoreEntry[]? scores;

    protected override async Task OnInitializedAsync()
    {
        // TODO: URL needs to come from config
        scores = await Http.GetFromJsonAsync<ScoreEntry[]>("http://localhost:5203/score");
    }
}
